<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>
			<span class=""></span>Upload Images to Google Drive
		    <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Google_Drive_logo.png" height="70px" width="70px">        
		</h1>

        <p>Login or Register with:</p>

        <a href="<%=url%>" class="btn btn-primary"><span class=""></span> Google</a>

    </div>

</div>
</body>
</html>